nav {
    background-color: lightslategray;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 40px;
    padding-top: 15px;
    font-family: arial;
    z-index: 10;
}

nav div{
    display: inline-block;
}

.right-side-banner {
    right: 0;
    position: absolute;
}

.chat-box {
    position: fixed;
    right: 0;
    background-color: white;
    border: solid darkblue;
    width: 20%;
    height: 91%;
    top: 55px;


}

#chat-title {
    font-family: Arial;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: lightskyblue;

}

#chat-messages {
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 75%;
}

hr {
    border: dashed;
    border-width: 1px;
}

#chat-input {
    border: solid;
    height: 15%;
    bottom: 0;
    position: absolute;
    width: 100%;
}

#chat-input input{
    width: 97.5%;
    height: 50%;
    vertical-align: top;
}

#chat-input button {
    right: 0;
    margin: 5px;
}

.content{
    margin-top: 100px;
}

.preview_cards{
    border: solid;
    width: 250px;
    min-height: 300px;
    margin: 20px;
    font-family: arial;
    position: relative;
}

.card_title{
    background-color: darkseagreen;
    margin: 0;
    text-align: center;
}

.author{
    text-align: center;
}

.card_tags li{
    display: inline-block;
    background-color: dodgerblue;
    border-radius: 3px;
    margin: 2px;
}

.card_thumbnail{
    text-align: center;
}

.upload_date{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px;
    background-color: cornflowerblue;
}

.normal_full_card{
    width: 500px;
    min-height: 600px;
    font-family: arial;
    position: relative;
    border: solid;
    margin: 5px;
}

.edit_full_card{
    width: 500px;
    min-height: 600px;
    font-family: arial;
    position: relative;
    border: solid;
    margin: 5px;
}

.x button{
    background-color: lightgrey;
    font-weight: bold;
    right: 0;
    top: 0;
    position: absolute;
}

.full-title h2{
    background-color: darkseagreen;
    margin: 0;
    text-align: center;
}

.full-tags li {
    display: inline-block;
    background-color: dodgerblue;
    border-radius: 3px;
    margin: 2px;
}

.author-date {
    text-align: center;
    background-color: darkseagreen;
}

.full-text-content {
    border: solid;
    border-width: 1px;
    text-align: center;
    height: 200px;
    margin: 10px;
}

.file-bar {
    border: solid;
    border-width: 1px;
    height: 150px;
    margin: 10px;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.file-bar a{
    display: inline-block;
    padding: 8px;
}

.download-button {
    bottom: 0;
    right: 0;
    padding: 20px 100px;
    position: absolute;
}

.enter-title form input {
    text-align: center;
    width: 99%;
    background-color: lightskyblue;
    font-size: medium;
    height: 50px;
}

.enter-tags form input {
    text-align: center;
    width: 99%;
    background-color: lightskyblue;
    font-size: medium;
    height: 50px;
}

.enter-text-content form input {
    text-align: center;
    border: solid;
    border-width: 1px;
    width: 100%;
    height: 300px;
    font-size: medium;
}

.upload {
    text-align: center;
    padding: 10px;
}

.lower-buttons {
    position: absolute;
    bottom: 0;
}

.lower-buttons table tr td {
    padding: 20px;
}

